* { margin: 0; padding: 0; box-sizing: border-box; }


#head{
  width: 100%;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
  padding-top: 5px;

  
 
}
#head h1{
  background-color:  #ff7a00;
  padding: 20px;
}
#members{
  width: 40%; 
  text-align: center;
  margin-left: 70px;
}
/* NAVIGATION BAR CONTENT*/
* { margin: 0; padding: 0; box-sizing: border-box; }

.navbar {
max-width: 1000px;
background-color: #333;
margin: 10px auto;
font-family: "Poppins", sans-serif;
border-radius: 15px;
}

.nav-list {
display: flex;
justify-content: space-between;
list-style: none;
}

.nav-item {
position: relative;
padding: 25px;
height: 100%;
cursor: pointer;
}

.nav-link {
color: #fefefe;
text-decoration: none;
font-weight: 600;
font-size: 24px;
display: flex;
align-items: center;
transition: all 0.3s;
letter-spacing: 1px;
}

.nav-item:hover .nav-link {
transform: scale(1.2);
color: #ff7a00;
}

.nav-link i {
font-size: 16px;
margin-left: 10px;
}

.dropdown-content {
  background-color: #ff7a00;
  display: flex;
  flex-direction: column;
  padding: 15px 60px 15px 15px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 15px);
  border-radius: 10px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  transition-delay: 0.2s;
}

.nav-item:hover .dropdown-content {
  opacity: 1;
  pointer-events: all;
}

.dropdown-content::before {
  content: "";
  position: absolute;
  width: 20px; height: 20px;
  background-color: #ff7a00;
  top: 0; left: 50%;
  transform-origin: 0 0;
  transform: rotate(45deg) translate(-50%, -50%);
}

.dropdown-link {
  text-decoration: none;
  color: #fefefe;
  white-space: nowrap;
  transition: all 0.3s;
  text-transform: capitalize;
  font-size: 20px;
}

.dropdown-link:hover {
  transform: translateX(10px);
}

.dropdown-link:not(:last-child) {
  margin-bottom: 20px;
}

/* PORT SMA MINI REFER CONTENT*/

.titlename{
  margin: 10px auto;
  background-color: rgb(226, 226, 226);
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  border-radius: 15px;
  padding-bottom: 15px;
  padding-top: 10px;
  color: black;
}

/* MOTIV OBJ OTHER THINGS*/
.row {
  display: flex;
}

.service {
  align-items: stretch;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  background: #ff7a00;
  color: #000000;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

span {
  color: #e43c5c
}

.services {
  padding: 0px 0;
  overflow: hidden;
}

.services .container {
  max-width: 1060px;
  margin-right: auto;
  margin-left: auto;
}

.services .icon-box {
  padding: 60px 30px;
  position: relative;
  overflow: hidden;
  background: #111;
  box-shadow: 2px 0 35px 0 rgba(235, 237, 243, 0.048);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  text-align: center;
}

.services .icon-box::before {
  content: "";
  position: absolute;
  background: #111;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.4s;
  z-index: -1;
}

.services .icon-box:hover::before {
  background: #ff7a00;
  top: 0;
  border-radius: 0px;
}

.services .icon {
  margin-bottom: 15px;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ff7a00;
  transition: all 0.3s ease-in-out;
}

.services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.services .title a {
  color: #fff;
  text-decoration: none;
}

.services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.884);
  font-family: "Poppins", sans-serif;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
  color: rgb(0, 0, 0);
}

.services .icon-box:hover .icon i {
  color: rgb(0, 0, 0);
}

@media (min-width: 899px) {
  .service {
      flex: 0 0 auto;
      width: 25%;
  }

  .container {
      max-width: 720px;
      margin-right: auto;
      margin-left: auto;
  }

}

@media (max-width: 900px) {
  .row {
      padding-right: calc(2.5rem/ 2);
      padding-left: calc(2.5rem/ 2);
      flex-wrap: wrap;
  }


  .service {
      flex: 0 0 auto;
      width: 50%;
      margin-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .service {
      flex: 0 0 auto;
      width: 100%;
  }
}

/* OBJECTIVE THINGS*/
.rowtwo {
display: flex;
}

.servicetwo {
align-items: stretch;
flex-shrink: 0;
width: 100%;
max-width: 100%;
padding-top: 5px;
}

.section-titletwo {
text-align: center;
padding-bottom: 30px;
}

.section-titletwo h2 {
font-size: 13px;
letter-spacing: 1px;
font-weight: 700;
padding: 8px 20px;
line-height: 1;
margin: 0;
background: #0084ff;
color: #000000;
display: inline-block;
text-transform: uppercase;
border-radius: 50px;
font-family: "Poppins", sans-serif;
}

span {
color: #e43c5c
}

.servicestwo {
padding: 60px 0;
overflow: hidden;
}

.servicestwo .containertwo {
max-width: 1060px;
margin-right: auto;
margin-left: auto;
}

.servicetwo .icon-boxtwo {
padding: 60px 30px;
position: relative;
overflow: hidden;
background: #111;
box-shadow: 2px 0 35px 0 rgba(235, 237, 243, 0.048);
transition: all 0.3s ease-in-out;
border-radius: 8px;
z-index: 1;
text-align: center;
}

.servicestwo .icon-boxtwo::before {
content: "";
position: absolute;
background: #111;
right: 0;
left: 0;
bottom: 0;
top: 100%;
transition: all 0.4s;
z-index: -1;
}

.servicestwo .icon-boxtwo:hover::before {
background: #0084ff;
top: 0;
border-radius: 0px;
}

.servicestwo .icontwo {
margin-bottom: 15px;
}

.servicestwo .icontwo i {
font-size: 48px;
line-height: 1;
color: #0084ff;
transition: all 0.3s ease-in-out;

}

.servicestwo .titletwo {
font-weight: 700;
margin-bottom: 15px;
font-size: 18px;
font-family: "Poppins", sans-serif;
}

.servicestwo .titletwo a {
color: #fff;
text-decoration: none;
}

.servicestwo .descriptiontwo {
font-size: 15px;
line-height: 28px;
margin-bottom: 0;
color: rgba(255, 255, 255, 0.884);
font-family: "Poppins", sans-serif;
}

.servicestwo .icon-boxtwo:hover .titletwo a,
.servicestwo .icon-boxtwo:hover .descriptiontwo {
color: #fff;
}

.servicestwo .icon-boxtwo:hover .icontwo i {
color: #fff;
}

@media (min-width: 899px) {
.servicetwo {
    flex: 0 0 auto;
    width: 25%;
}

.containertwo {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
}

}

@media (max-width: 900px) {
.rowtwo {
    padding-right: calc(2.5rem/ 2);
    padding-left: calc(2.5rem/ 2);
    flex-wrap: wrap;
}


.servicetwo {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 3rem;
}
}

@media (max-width: 600px) {
.servicetwo {
    flex: 0 0 auto;
    width: 100%;
}
}
.footer{
text-align: center;
font-family: "Poppins", sans-serif;



}
.footertwo{

font-size: small;
text-align: center;
font-family: "Poppins", sans-serif;
color: gray;

}

.kalimuthu{
  border: 1px solid white;
  width: 35%;
  padding: 10px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
  flex-shrink: 0;
  font-family: poppins;


}

.kalimuthu:hover{
  color:  #ff7a00;
  border: 1px solid  yellow; 
  box-shadow: inset 10px 10px 10px 100px black ;

}


.ranj{
  border: 1px solid white;
  width: 35%;
  padding: 10px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
  color: white;
}
.ranj:hover{
  color:  #ff7a00;
  border: 1px solid  yellow; 
  box-shadow: inset 10px 10px 10px 100px black ;
}

.SabareeshwaranM{
  border: 1px solid white;
  width: 35%;
  padding: 10px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
 
}
.SabareeshwaranM:hover{
  color:  #0084ff;
  border: 1px solid  #ff7a00;
}

.pranaaph{
  border: 1px solid white;
  width: 35%;
  padding: 10px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
  
}
.pranaaph:hover{
  color:  #0084ff;
  border: 1px solid  #ff7a00;

}

.clg{
  background-color: #ff7a00;
}
.author{
  background-color: #ff7a00;
  font-family: initial;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.footer{
text-align: center;
font-family: "Poppins", sans-serif;
background-color: #ff7a00;
padding-top: 15px;
}
.footertwo{

font-size: small;
text-align: center;
font-family: "Poppins", sans-serif;
background-color: #ff7a00;
color: black;
padding-bottom: 5px;
}
.easy{
  display: flex;
  /* flex-wrap: wrap; */
}

